{% extends "basicapp/base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-body border-info">
        <h1>First Project</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-body border-info">
        <h1>Second Project</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-body border-info">
        <h1>Third Project</h1>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
